* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

a {
    font-family: 'micross', sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: #0000ff;
}

a:hover {
    color: #d34343;
}

body {
    background: #eeeeee;
    font-family: 'comic', cursive;
    color: #000000;
    font-size: 16px;
}

#container {
    width: 1200px;
    text-align: center;
}

.title {
    width: 750px;
    height: 35px;
    font-size: 20px;
    font-weight: normal;
    background: #ffffff;
    border: 1.5px solid #000;
    margin: 10px auto;
}

.head {
    width: 800px;
    margin-left: 225px;
    display: flex;
}

header nav a {
    width: 40px;
    margin: 30px 0 10px 10px;
}

#content {
    width: 1200px;
    height: 80vh;
    padding-top: 60px;
    background: darkslategrey;
}

.form-log {
    width: 250px;
    border: 1.5px solid #959595;
}

.title_log {
    height: 40px;
    font-size: 18px;
    font-weight: normal;
    padding: 6px;
    background: #cdcdcd;
    border: 1.5px none #959595;
    border-bottom-style: solid;
}

.line {
    width: 247px;
    margin: 20px auto;
    padding: 0 18px;
    text-align: right;
    display: flex;
}

.line div {
    width: 65px;
}

.input_text {
    font-family: 'comic', cursive;
    width: 130px;
    border: 1.5px solid #959595;
    outline: 0;
}

.button_enter {
    font-family: 'comic', cursive;
    font-size: 13px;
    background: #cdcdcd;
    padding: 2px 7px;
    margin-bottom: 20px;
}

.menu_title {
    width: 750px;
    display: flex;
}

.menu_title a {
    width: 120px;
    font-size: 16px;
}

.push {
    margin-right: 195px;
    text-align: left;
}

.push2 {
    margin-left: 195px;
    text-align: right;
}

.menu_student {
    width: 1200px;
    background: violet;
    display: flex;
}

.link_title {
    width: 70px;
    font-family: 'comic', cursive;
    font-size: 12px;
    margin: 0 0 0 35px;
    background: #ffffff;
}

.link_back {
    width: 35px;
    font-family: 'comic', cursive;
    font-size: 12px;
    margin: 0 0 0 20px;
    background: #ffffff;
}

.button_student1 {
    width: 340px;
    font-family: 'comic', cursive;
    font-size: 13px;
    background: #cdcdcd;
    padding: 2px;
    margin: 0 0 10px 65px;
}

.button_student2 {
    width: 220px;
    font-family: 'comic', cursive;
    font-size: 13px;
    background: #cdcdcd;
    padding: 2px;
    margin: 0 395px 10px 20px;
}

.button_student3 {
    width: 340px;
    font-family: 'comic', cursive;
    font-size: 13px;
    background: #cdcdcd;
    padding: 2px;
    margin: 0 0 10px 225px;
}

/*/ исправвить везде margin*/