* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

a {
    font-family: 'micross', sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: #0000ff;
}

a:hover {
    color: #d34343;
}

body {
    background: #eeeeee;
    font-family: 'comic', cursive;
    color: #000000;
    font-size: 16px;
}

#container {
    width: 1200px;
    text-align: center;
}

.title {
    width: 750px;
    height: 35px;
    font-size: 20px;
    font-weight: normal;
    background: #ffffff;
    border: 1.5px solid #000;
    margin: 10px auto;
}

.head {
    width: 800px;
    margin-left: 225px;
    display: flex;
}

header nav a {
    width: 40px;
    margin: 30px 0 10px 10px;
}

#content {
    width: 1200px;
    padding-top: 20px;
}

footer div{
    margin-top: 10vh;
}

.form_log {
    width: 250px;
    border: 1.5px solid #959595;
    margin-top: 40px;
}

.log_title {
    height: 40px;
    font-size: 18px;
    font-weight: normal;
    padding: 6px;
    background: #cdcdcd;
    border: 1.5px none #959595;
    border-bottom-style: solid;
}

.line {
    width: 247px;
    margin: 20px auto;
    padding: 0 18px;
    text-align: right;
    display: flex;
}

.line div {
    width: 65px;
}

.input_text {
    font-family: 'comic', cursive;
    width: 130px;
    border: 1.5px solid #959595;
    outline: 0;
}

.button_enter {
    font-family: 'comic', cursive;
    font-size: 13px;
    background: #cdcdcd;
    border: 1.5px solid #000;
    padding: 2px 7px;
    margin-bottom: 20px;
    outline: 0;
}

.button_enter:active, .button_student1:active,
.button_student2:active, .button_student3:active,
.button_md_cr:active {
    background: #ffffff;
}

.menu_title {
    width: 750px;
    display: flex;
    margin-top: 40px;
}

.menu_title a {
    width: 120px;
    font-size: 16px;
}

.push {
    margin-right: 195px;
    text-align: left;
}

.push2 {
    margin-left: 195px;
    text-align: right;
}

.menu_student {
    width: 815px;
    padding-bottom: 20px;
    margin: 0;
    display: flex;
}

.link_title {
    width: 70px;
    font-family: 'comic', cursive;
    font-size: 12px;
    margin-left: 35px;
}

.link_back {
    width: 35px;
    font-family: 'comic', cursive;
    font-size: 12px;
    margin-left: 20px;
}

.button_student1 {
    width: 340px;
    font-family: 'comic', cursive;
    font-size: 13px;
    background: #cdcdcd;
    border: 1.5px solid #000;
    padding: 2px;
    margin-left: 65px;
    outline: 0;
}

.button_student2 {
    width: 220px;
    font-family: 'comic', cursive;
    font-size: 13px;
    background: #cdcdcd;
    border: 1.5px solid #000;
    padding: 2px;
    margin-left: 30px;
    outline: 0;
}

.button_student3 {
    width: 340px;
    font-family: 'comic', cursive;
    font-size: 13px;
    background: #cdcdcd;
    border: 1.5px solid #000;
    padding: 2px;
    margin-left: 225px;
    outline: 0;
}

.push_left {
    margin-left: 225px;
}

.student_title {
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    padding: 6px 2px;
}

.list_student {
    width: 750px;
    background: #959595;
    text-align: left;
    border-spacing: 1.5px;
}

.list_student tr th {
    font-size: 12px;
    background: #cdcdcd;
}

td, th {
    background: #eeeeee;
    font-size: 12px;
    padding: 25px 5px;
}

.check {
    margin: 0 auto;
    display: flex;
}

.ls_col1 {
    width: 72px;
}

.ls_col2, .ls_col3 {
    width: 230px;
}

.ls_col4, .ls_col5 {
    width: 105px;
}

.menu_md_cr_student {
    width: 830px;
    padding-bottom: 20px;
    margin: 0;
    display: flex;
}

.md_cr_student_title {
    width: 605px;
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    padding: 6px 0;
    margin-left: 65px;
}

.form_md_cr_student {
    width: 285px;
    font-size: 12px;
    margin-left: 225px;
}

.line2 {
    width: 285px;
    margin: 20px 0;
    text-align: right;
    display: flex;
}

.line2 div {
    width: 110px;
    padding-top: 5px;
    margin-right: 5px;
}

.input_text2 {
    font-family: 'comic', cursive;
    width: 170px;
    border: 1.5px solid #959595;
    outline: 0;
}

.button_md_cr {
    font-family: 'comic', cursive;
    font-size: 13px;
    background: #cdcdcd;
    border: 1.5px solid #000;
    padding: 2px 20px;
    margin-left: 115px;
    display: flex;
    outline: 0;
}