* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

a {
    font-family: 'micross', sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: #0000ff;
}

a:hover {
    color: #d34343;
}

body {
    background: #eeeeee;
    color: #000000;
    font: normal 16px cursive;
    text-align: center;
}

#container {
    width: 1200px;
}

header nav {
    width: 800px;
    margin-left: 225px;
    display: flex;
    padding: 10px 0;
}

.title {
    width: 750px;
    height: 35px;
    font-size: 20px;
    font-weight: normal;
    background: #ffffff;
    border: 1.5px solid #000;
    margin-right: 10px;
}

header nav a {
    width: 40px;
    margin: 20px 0 0 0;
    background: #be0000;
}

#content {
    width: 1200px;
    height: 600px;
    padding-top: 60px;
}

section {
    width: 250px;
    height: 200px;
    border: 1.5px solid #959595;
}

.title_log {
    height: 40px;
    font-size: 18px;
    font-weight: normal;
    padding: 6px;
    background: #cdcdcd;
    border: 1.5px none #959595;
    border-bottom-style: solid;
}

.line {
    width: 200px;
    margin: 20px auto;
    text-align: right;
}

.line div {                  ////////
    display: inline-block;
}

.input_text {
    font-family: 'comic', cursive;
    width: 130px;
    border: 1.5px solid #959595;
    outline: 0;
}

.button_enter {
    font-family: 'comic', cursive;
    font-size: 13px;
    background: #cdcdcd;
    padding: 2px 7px;
}








.title3 {
    width: 800px;
    height: 35px;
    font-size: 23px;
    font-weight: normal;
    text-align: center;
    line-height: 32px;
    background: #ffffff;
    border: 1.5px solid #000;
    display: inline-block;
}


.bl1 {
    font-family: 'micross', sans-serif;
    font-weight: bold;
    font-size: 19px;
    display: inline-block;
    width: 264px;
    text-align: left;
}

.bl2 {
    font-family: 'micross', sans-serif;
    font-weight: bold;
    font-size: 19px;
    display: inline-block;
    width: 264px;
    padding: 80px 0px 300px 0px;
}

.bl3 {
    font-family: 'micross', sans-serif;;
    font-weight: bold;
    font-size: 19px;
    display: inline-block;
    width: 264px;
    text-align: right;
}

.block3 {
    font-family: 'comic', cursive;
    font-size: 14px;
    display: inline-block;
    width: 80px;
    background: #ffa500;
}

.block4 {
    display: inline-block;
    width: 445px;
    background: #ffa500;
}


/*a {*/
/*    color: #0000ff;*/
/*}*/

/*a:hover {*/
/*    color: #d34343;*/
/*}*/

/*.block_button1 {*/
/*    display: inline-block;*/
/*    background: #d34343;*/
/*    padding: 80px 0px 20px 0px;*/
/*}*/

/*.block_button2 {*/
/*    display: inline-block;*/
/*    background: #d34343;*/
/*    padding: 0px 0px 300px 0px;*/
/*    margin-left: 50px;*/
/*}*/

/*.button1 {*/
/*    font-family: 'comic', cursive;*/
/*    width: 340px;*/
/*    font-size: 13px;*/
/*    background: #cdcdcd;*/

/*}*/

/*.button2 {*/
/*    font-family: Comic Sans MS, cursive;*/
/*    width: 220px;*/
/*    font-size: 13px;*/
/*    background: #cdcdcd;*/
