body{
    width: 100%;
    height: 100vh;
    background: bisque;
}

.paragraph {
    font-size: 100px;
    color: violet;
}

p {
    color: green;
    font-size: 60px;
}

div div p {
    color: blue;
}

div p{
    color: aqua;
}

div {
    color: yellow;
    font-size: 60px;
}

.par1 {
    color: orange;
}

#par {
    color: red;
    font-size: 80px;
}
#par2 {
    color: coral;
    font-size: 80px;
}


.block1 {
    margin: 20px;
    width: 100px;
    height: 100px;
    background-color: red;
}

.heat1{
    background: rgba(138, 43, 226, .5);
}

.block1.heat {
    background: url("../lesson2/src/img/heat.jpg") no-repeat center center / cover;
}
.block1.heat2 {
    background-image: url("../lesson2/src/img/heat.jpg");
    background-size:cover ;
    background-position: -50px ;
}
.block1.heat:hover{
    background: rgba(43, 226, 128, 0.5);
}
a{
    font-size: 120px;
    text-decoration: none;
    color: red;
    transition: .7s;
}

a:hover{
    font-size: 200px;
    color: orange;
}

a:active{
    color: antiquewhite;
}
div span+p{
    color: darkslategrey;
}

a:before, a:after{
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: gold;
}
a:after{
content: '';
    background-color: blue;
}